        /* Inter 폰트 적용 */
        body {
            font-family: 'Inter', sans-serif;
        }
        /* 스크롤바 숨기기 (선택 사항) */
        textarea::-webkit-scrollbar {
            display: none;
        }
        textarea {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }